//- INCLUDES > MIXINS
mixin project(color, title, description, img)
    .project-card.top(style="background-color:" + color + ";")
        .project-content
            h1 #{title}
            p #{description}
            button View more
            img(src="images/" + img)

mixin link(url, name, tooltip)
    a(target='_blank' class='orange-link' href=url title=tooltip)= name

mixin more()
    p.more Learn more <span>&rarr;</span>

mixin 3card(url, emoji, title, description, target)
    a(target=target href=url).thirds-col.card
        h2 <span class='emo'>#{emoji}</span> #{title}
        p #{description}
        +more()

mixin contact()
    h1 Contact
    p
        | If you'd like to work with me or learn more, please send me an email through the form below or find me on 
        +link('https://www.linkedin.com/in/meetben', 'LinkedIn', '"Join my professional network 🤓"')
        | . Thanks for stopping by!

    br
    form(accept-charset="UTF-8" action="https://formkeep.com/f/caa230f30e8d" method="POST")
        .label-input-group
            label(for='fname') NAME
            input(type='text' id='fname' name='firstname' placeholder='Adam Grant')
        .label-input-group
            label(for='lname') EMAIL *
            input(type='email' id='email' name='email' placeholder='adamgrant@email.com' required)

        .label-input-group
            label(for='subject') MESSAGE *
            <textarea id="subject" name="subject" placeholder="Hey Ben! Adam here. Just checked out your website and I have some... feedback." style="height:200px" required></textarea>

        input(type='submit' value='Submit')

//- PROJECT PAGE
mixin introsection(title, subtitle, date)
    h1 #{title}
    p #{subtitle}
    p.update-line last updated: #{date}
    br
    hr
    br

mixin quote(quote, byline)
    .quote
        h2 #{quote}
        p #{byline}

mixin widequote(quote, byline)
    .quote(style='width: 80%; display: block; max-width: 600px; margin-right: 30px;')
        h2 #{quote}
        p #{byline}

mixin article(url, iconpath, title, subtitle, sourcename, bgimage)
    <div style="clear: both;"></div>
    a(target='_blank' href=url).card.project-card
        img(src=iconpath)
        h2 #{title}
        p #{subtitle}
        
        p.more Read on #{sourcename} <span>&rarr;</span>
        .project-img(style=bgimage)

